#adminTable, #customerTable, #productTable {
    th, td {
        text-align: left;
    }
}

#adminTable, #customerTable, #productTable {
    td.dt-empty {
        text-align: center;
    }
}

#productTable {
	tbody td.product_image-container {
		width: 15%;
		img {
			width: 50px;
		}
	}
}

.add-button {
    width: 150px;
    height: 40px;
    font-size: 1rem;
}


.upload-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	.form-control {
		display: none;
	}
	.form-label {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #ffffff;
		width: 100%;
		padding: 20px;
		font-size: 20px;
		border: 2px dashed #ced4da;
		border-radius: 10px;
		cursor: pointer;
		&:hover {
			border-color: #6a6a6a;
		}
		span {
			color: #6a6a6a;
		}
	}
}